<header class="intro-header" style="background-image: url('{{ include.image }}')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1>{{ include.heading }}</h1>
          <span class="subheading">{{ include.subheading }}</span>
          <span class="meta">Posted by {{ include.author || site.author }} on {{ include.date | date: '%B %d, %Y') }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
