<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  <link href="/css/clean-blog.min.css" rel="stylesheet">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <script src="/js/bootstrap.min.js"></script>
</head>

<body>
  {% include navbar.html %}
  {% include post_header.html author=page.author image=page.image heading=page.title date=page.date %}
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <p>{{ content }}</p>
          <p>{% include disqus.html %}</p>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-1 blog-sidebar">
      </div>
    </div>
    </div>
  </article>
  {% include footer.html %}
  {% include ga.html %}
</body>
</html>
